FinalProject/.idea/
FinalProject/.snakemake/
FinalProject/gurobi.log
FinalProject/results/
FinalProject/assembly/
FinalProject/contaminations/
FinalProject/database/
FinalProject/data/
FinalProject/logs/
FinalProject/reference/

# Don't check in individual config.yaml
FinalProject/config/config.yaml

# data
DATA/

# ignore macOS files
**/.DS_Store
