FinalProject/.idea/
FinalProject/.snakemake/
FinalProject/gurobi.log
FinalProject/results/
FinalProject/assembly/
FinalProject/contaminations/
FinalProject/database/
FinalProject/data/
FinalProject/logs/
FinalProject/Snakefile
FinalProject/reference/

